*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    border: solid 3px black;
width: 500px;
height: 530px;
margin-inline: auto;
margin-top: 10px;
}
.ativa1{
    border: solid 2px black;
    height: 200px;
    width: 200px;
    padding: 8px;
}
a{
    color: blue;
    display: inline-block;
    border: solid 2px black;
    padding: 10px;
    text-decoration: underline;
    width: 180px;
    text-align: center;
    
}
.p1{
    border: solid 1px black;
    margin-bottom: 10px 
}
.p2{
border: solid 1px black;
margin-bottom: 40px;
}
.p3{ 
    border: solid 1px black;
    margin-block: 20px 20px;
    
}
li{
    display: inline-block;
    text-decoration: none;
    border: solid 2px black;
    padding-right: 70px;
    padding-bottom: 70px;
}

footer{
    border: solid 2px black;
    margin: 10px 20px 30px 40px;
}




