*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    border: solid 3px black;
width: 500px;
height: 500px;
margin-inline: auto;
margin-top: 10px;
}
.ativa1{
    border: solid 2px black;
    height: 200px;
    width: 200px;
    padding: 8px;
}
a{}




